#pikes_peak {
    width: 550px;
    height: 350px;
    margin: 5rem;
}

body{
    text-align: center;
    background-color: black;
    color:white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: bolder;
}

input{
    width: 100px;
}

/* With CSS variables, we claim them on some element. In this case, we will claim them on the root element */
/* root is as high as you can go, similar to claiming variables on the HTML element */
:root{
    --base: #a55e95;
    --spacing: 10px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl{

    color: var(--base);
}